*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: center;
   width: 100%;
   margin-top: -60px;
}
 .image img{
    height: 130px;
    width: 130px;
}
.discover{
    font-weight: bold;
    font-size: larger;
    text-shadow: 2px 2px 4px gray;
}
.d-letter{
     font-size: x-large;
     color:navy;
}
.add{
    color: rgb(170, 168, 168);
}

div img{
    margin-top: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 9px;
    flex-wrap: wrap;
}
.dfn-cont{
    padding: 9px 2px;
    background-color: rgb(140, 140, 252);
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    color:white;
}
.image-section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}
.image-section img{
    height: 160px;
    width: 160px;
    margin-top: 90px;
}
.product {
    text-align: center;
    margin-bottom: 20px; /* spacing between products */
}

.product-label {
    margin-top: 5px; /* spacing between image and label */
    font-size: 14px;
    font-weight: bold;
}
.pro-lbl {
    margin-top: 5px; /* spacing between image and label */
    font-size: 17px;
    text-align: justify;
    margin-bottom: 10px;
    color:rgb(230, 104, 14);
    font-family: roboto;
    font-weight: bold;
}

.info-content{
    height: auto;
    width:100%;
    background-color: rgb(164, 194, 239);
    font-weight: bold;
    padding: 4px 0 0 3px;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
}

.item-info{
    padding: 6px;
    font-family: cursive;
    height: auto;
}

.bars{
    padding: 0 20px;
    border-right: 2px solid rgb(248, 241, 241);
}
.hour{
    margin-top: -15px;
   
}
.hour ul {
    list-style: none; /* Remove bullets */
    padding-left: 0; /* Remove padding */
    font-weight: normal;
    font-size: 15px;
}

.hour li {
    margin-bottom: 4px; /* Add some space between the list items */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hrline{
    display: none;
}
.add-bar{
    margin-top: 9px;
    font-size:18px;
    font-weight: normal;
    text-align: justify;
    width: 230px;
}
.review-container {
    padding: 10px;
   
    text-align: center;
    margin-bottom: 10px;
    border-radius: 12px;
}


.review {
    color: rgb(17, 3, 103);
    font-weight: bold;
  }
  
  .author {
    color: white;
    font-style: italic; /* cursive styling */
  }
  
  .map-show{
    width: 100%; height: 400px;
    margin-top: 6px;
    margin-bottom: 10px;
   }
   

@media  screen and (max-width:600px) {
    
    section{
        margin-top: 60px;
    }
    div img{
        margin: auto;
    }
    .image img{
        height: 70px;
        width: 70px;
        margin-top: -30px;
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: center; gap: 5px;
    }

    .info-content {
        flex-direction: column;
    }
    .bars {
        padding: 0;
        border-right: none;
        border-bottom: 2px solid rgb(248, 241, 241);
        margin: 10px 0;
    }
    .item-info {
        text-align: center;
    }
    .add-bar{
       margin: auto;
       font-size: 14px;
       text-align: center;
    }
    .review-container {
       margin: auto;

    }
  
   .map-show{
      height: 300px;
      margin-top:2px;
   }

   .pro-lbl {
    margin-top: 5px; /* spacing between image and label */
    font-size: 14px;
    font-weight: bold;
}
}