<section>
    <div class="image"><img src="./assets/nestlelogo.jpg"></div>
    <div class="discover"><span class="d-letter">D</span>iscover more Nestle items with Us.</div>
    <div class="add">Kathmandu-35, Subhidhanagar, Koteswor.</div>
</section>
<div><img src="./assets/frontpic.jpg"></div>
<article>
    <div class="dfn-cont" >🎉 Unlock Profitable Opportunities! 🎉</div>
    <div class="dfn-cont">📢 Introducing Nestle Products Wholesale Distribution in Kathmandu!</div>
     <div class="dfn-cont">✔️ Unbeatable Prices</div>
     <div class="dfn-cont">👉 Contact Us NOW to Elevate Your Business! 🚀</div>
</article>  
<div class="image-section">
    <div class="product">
        <img src="./assets/boost.jpg" alt="Boost">
        <div class="product-label">Growth Drink</div>
    </div>
    <div class="product">
        <img src="./assets/cerelac.jpg" alt="Cerelac">
        <div class="product-label">Baby Food</div>
    </div>
    <div class="product">
        <img src="./assets/kitkat.jpg" alt="KitKat">
        <div class="product-label">Crunchy</div>
    </div>
    <div class="product">
        <img src="./assets/maggi.jpg" alt="Maggi">
        <div class="product-label">Noodles</div>
    </div>
</div>

<div class="image-section">
    <div class="product">
        <img src="./assets/nescafe.jpg" alt="Nescafe">
        <div class="product-label">Coffee</div>
    </div>
    <div class="product">
        <img src="./assets/munch.jpg" alt="Munch">
        <div class="product-label">Protein Bar</div>
    </div>
    <div class="product">
        <img src="./assets/milkybar.jpg" alt="Milkybar">
        <div class="product-label">Milk Bar</div>
    </div>
    <div class="product">
        <img src="./assets/nesquik.jpg" alt="Nesquik">
        <div class="product-label">Choclate Milk</div>
    </div>
</div>
