<section>
    <div class="image"><img src="./assets/nestlelogo.jpg"></div>
    <div class="discover"><span class="d-letter">D</span>iscover more Nestle items with Us.</div>
    <div class="add">Kathmandu-35, Subhidhanagar, Koteswor.</div>
</section>
<div><img src="./assets/frontpic.jpg"></div>
<article>
    <div class="dfn-cont">✔️ Unbeatable Prices</div>
    <div class="dfn-cont" >🎉 Unlock Profitable Opportunities! 🎉</div>
    <div class="dfn-cont">👉 Contact Us NOW to Elevate Your Business! 🚀</div>
    <div class="dfn-cont">📢 Introducing Nestle Products Wholesale Distribution in Kathmandu!</div>
</article>  
<div class="image-section">
    <div class="product">
       <a href="https://www.boost.com/" target="_blank"> <img src="./assets/boost.jpg" alt="Boost"></a>
        <div class="product-label">Growth Drink</div>
    </div>
    <div class="product">
      <a href="https://www.nestle.com/brands/baby-foods/cerelac" target="_blank"><img src="./assets/cerelac.jpg" alt="Cerelac"></a>  
        <div class="product-label">Baby Food</div>
    </div>
    <div class="product">
      <a href="https://www.nestle-cwa.com/en/kitkat" target="_blank"><img src="./assets/kitkat.jpg" alt="KitKat"></a>
        <div class="product-label">Crunchy</div>
    </div>
    <div class="product">
       <a href="https://www.nestle.com/brands/allbrands/maggi" target="_blank"><img src="./assets/maggi.jpg" alt="Maggi"></a>
        <div class="product-label">Noodles</div>
    </div>
</div>

<div class="image-section">
    <div class="product">
        <a href="https://www.nestle.com/brands/coffee/nescafe" target="_blank">  <img src="./assets/nescafe.jpg" alt="Nescafe"></a>
        <div class="product-label">Coffee</div>
    </div>
    <div class="product">
        <a href="https://www.nestle.in/brands/nestlemunch" target="_blank"> <img src="./assets/munch.jpg" alt="Munch"></a>
        <div class="product-label">Protein Bar</div>
    </div>
    <div class="product">
        <a href="https://www.nestle.com/brands/chocolate-confectionery/milkybar" target="_blank"> <img src="./assets/milkybar.jpg" alt="Milkybar"></a>
        <div class="product-label">Milk Bar</div>
    </div>
    <div class="product">
        <a href="https://www.nestle.com/brands/drinks/nesquik" target="_blank"> <img src="./assets/nesquik.jpg" alt="Nesquik"></a>
        <div class="product-label">Choclate Milk</div>
    </div>
</div>


<div class="image-section">
    <div class="product">
        <img src="./assets/qualityins.jpg" alt="Boost">
        <div class="pro-lbl">We quality Inspect<br> before we dispatch.</div>
    </div>
    <div class="product">
        <img src="./assets/productassu.jpg" alt="Cerelac">
        <div class="pro-lbl">We exchange product<br> if under agreement.</div>
    </div>
    <div class="product">
        <img src="./assets/doordelivery.jpg" alt="KitKat">
        <div class="pro-lbl">We delivery to doorsteps<br> as per request.</div>
    </div>
    <div class="product">
        <img src="./assets/privatelabel.jpg" alt="Maggi">
        <div class="pro-lbl">We enables your own branding <br>for customer order.</div>
    </div>
</div>

<div class="info-content">
       <div class="item-info">
        Business Hours<br><br>
        <div class="hour">
            <ul>
                <li>Sunday: 9AM - 8PM</li>
                <li>Monday: 9AM - 8PM</li>
                <li>Tuesday: 9AM - 8PM</li>
                <li>Wednesday: 9AM - 8PM</li>
                <li>Thurday: 9AM - 8PM</li>
                <li>Friday: 9AM - 8PM</li>
                <li>Saturday: Closed</li>
            </ul>
        </div>
        <div class="hrline"></div>
       </div>
       
       <div class="bars"></div>
       <div class="item-info">
        Address
        <div class="add-bar">
            New Pratik Trader<br>
            Kathmandu-35<br>
            Subhidhanagar, Koteswor<br>
            Near To Trinity College
        </div>
       </div>
       <div class="hrline"></div>
       <div class="bars"></div>
       <div class="item-info">
        Customer Review
        <div class="add-bar">
            <div class="review-container">
                <span class="review">{{ customerReviews[currentReviewIndex].review }}</span>
                <span class="author">- {{ customerReviews[currentReviewIndex].author }}</span>
              </div>
        </div>
    </div>
</div>

<div id="addressLocation" class="location">
    <div #mapElement class="map-show"></div>
</div>