<footer>
  
    <div class="footer-sec">
        <div class="contact-item" style="font-weight: bold; font-style: italic; color: black;">Message Us</div>
        <div class="contact-item"><a href="https://www.facebook.com/profile.php?id=100054418212184" target="_blank">Facebook<img src="./assets/facebook.jpg"></a></div>
        <div class="contact-item"><a href="tel:+18326439994">Phone<img src="./assets/phone.jpg"></a></div>
        <div class="contact-item"><a href="">Message<img src="./assets/message.jpg"></a></div>
    </div>

    <div class="join-us">
        <label>Join Us For New Branch Opening</label>
        <button>Join Us</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="copy">copyright &copy; Bhandari:2023</div>
    </div>
</footer>

