* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    height: auto;
    width: 100%;
    background-color: rgb(95, 83, 171);
    margin-top: 4px;
    padding: 3px;
    display: flex;
    justify-content: space-between; /* Added this property */
}

.footer-sec {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-size: larger;
    margin-left: 10px;
}

.contact-item {
    margin-bottom: 10px;
}

.footer-sec img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:3px solid black;
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.join-us{
    display: flex;
    flex-direction: column;
    margin:5px 0;
    align-items: flex-start; /* Aligns this section to the left */
}

label{
    color: white;
}

button{
    height: 20px;
    width: 215px;
    background-color: rgb(209, 198, 238);
    border-radius: 6px;
    color: blue;
    font-size:14px;
    font-weight: bold;
    margin-bottom: 10px; /* Add bottom margin to the button */
}

.copy{
 
    font-size: 17px;
    margin-top: 70px; /* Change to 0px to remove overlapping */
}


/* Media query */
@media (max-width: 600px) {
    footer {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center the items */
    }
    .footer-sec {
        padding-right: 0; /* Remove the padding on the right */
    }
    .join-us, .copy {
        align-items: center; /* Center the items */
    }
    .copy {
        text-align: center; /* Center the text */
        margin-top: 0;
    }
}
