<!-- component.html -->
<header>
    <div><img src="./assets/logo.jpg"></div>
    <div class="wrap-search">
        <span class="product">Product</span>
        <input type="text" placeholder="Find your product here.">
        <button type="submit">Go</button>
    </div>
    <div class="burger" (click)="toggleNav()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>
<nav [ngClass]="{'active': navIsActive}">
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li>Product</li>
        <li><a routerLink="/contact-me">Contact Us</a></li>
        <li><a href="#addressLocation">Location</a></li>
        <li>Order</li>
    </ul>
</nav>
