* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    flex-wrap: wrap;
   
}

.wrap-search {
    border: 2px solid black;
}

header img {
    height: 140px;
    width: 190px;
}

header .product {
    padding: 6px 6px 9px 12px;
    background-color: grey;
    font: bold 16px/1;
}

header input[type="text"] {
    height: 30px;
    width: 190px;
    border-style: solid;
    padding-left: 4px;
}

header button {
    height: 30px;
    width: 60px;
    font: bold 14px/1;
    cursor: pointer;
}

nav {
    height: 139px;
    
}

ul {
    display: flex;
    justify-content: flex-start;
    gap:90px;
    background-color: rgb(95, 83, 171);
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}
a{
    list-style: none;
    color: white;
    text-decoration: none;
}
a:hover{
    color:black;
}

li {
    font-style: none;
    font-size: 17px;
    font-weight: bold;
    transition: 0.2s ease-in;
    padding:10px;
    color: white;
}

li:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px white;
    color: black;
}

.burger {
    display: none;
}





/* styles for mobile view */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header img {
        width: 66.67vw; /* 2/3 of the viewport width */
        height: auto; /* to maintain the aspect ratio of the image */
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
    }

    nav {
        display: none;
        width: 100%;
        height: auto;
    }

    nav.active {
        display: block;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }
}
